<main>
	<header>
		<Navigation />
	</header>
	<Page />
	<footer>
		<Navigation />
	</footer>
</main>

<script>
	import Page from './Page.html';
	import Navigation from './Navigation.html';

	export default {
		components: {
			Page,
			Navigation
		}
	};
</script>

<style>
	main{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		background-color: inherit;
	}
	header {
		position: fixed;
		top: 0;
		width: inherit;
		background-color: inherit;
		border-bottom: 1px solid #ba8156;
		max-width: 1200px;
	}

	footer {
		margin: 1em 0;
	}
</style>