<nav lang=en>
  <button on:click="next()" class="next">
    <svg width="12" height="20" viewBox="0 0 12 20">
      <path d="M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z" fill="#0151a9"></path>
    </svg>
    <span>Next</span>
  </button>

  <button on:click="previous()" class="previous">
    <span>Previous</span>
    <svg width="12" height="20" viewBox="0 0 12 20">
      <path d="M 2,0 0,2 8,10 0,18 2,20 12,10 2,0 Z" fill="#0151a9"></path>
    </svg>
  </button>

  <form onsubmit="return false">
    <select aria-label="Select Page Type" on:change="onTypeChange(event)">
      <option value={SURA} selected={$pagingType===SURA}>Sura</option>
      <option value={PAGE} selected={$pagingType===PAGE}>Page</option>
    </select>
    <select ref:select aria-label="Select Page" on:change="onPageChange(event)">
      {#each $pagingMeta as meta, x}
      <option value={x+1} selected={$pagingIndex===x+1}>{meta}</option>
      {/each}
    </select>
    <span>&nbsp;
      {#if $pagingType === PAGE}
      {$page.map(function(sura){ return sura.meta[4] }).join(' ,')}
      {/if}
    </span>
  </form>
</nav>

<script>
  import {
    nextIndex,
    prevIndex
  } from './../utils/next-back.js';
  import {
    PAGE,
    SURA
  } from './../constants.js';
  import resizeSelect from './../utils/resize-select.js';

  export default {
    data: function () {
      return {
        PAGE,
        SURA
      }
    },
    onupdate: function () {
      setTimeout(resizeSelect, 0, this.refs.select);
    },
    methods: {
      next: function () {
        const state = this.store.get();
        this.store.set({
          pagingIndex: nextIndex(state.pagingIndex, state.pagingTotal)
        })
      },
      previous: function () {
        const state = this.store.get();
        this.store.set({
          pagingIndex: prevIndex(state.pagingIndex, state.pagingTotal)
        })
      },
      onTypeChange: function (event) {
        this.store.set({
          pagingType: event.target.value,
          pagingIndex: 1
        })
      },
      onPageChange: function (event) {
        this.store.set({
          pagingIndex: parseInt(event.target.value, 10)
        })
      }
    }
  }
</script>

<style>
  nav {
    padding: 0.25em;
  }

  nav:after {
    content: "";
    display: block;
    clear: both;
  }

  form {
    text-align: center;
  }

  select {
    font-size: 16px;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #0151a9;
    padding: 0 15px 0 0;
    margin: 5px 0;
    vertical-align: middle;
    height: 22px;
    min-width: 40px;
    cursor: pointer;
    background: transparent url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%2020%22%3E%3Cg%20fill%3D%22%230151a9%22%3E%3Cpath%20d%3D%22m%2012%2C6%20-1.2%2C1.2%20-4.8%2C-4.8%20-4.8%2C4.8%20L%20-1.95e-7%2C6%206%2C0%2012%2C6%20Z%22%20/%3E%3Cpath%20d%3D%22m%2012%2C14%20-1.2%2C-1.2%20-4.8%2C4.8%20-4.8%2C-4.8%20-1.2%2C1.2%206%2C6%20L%2012%2C14%20Z%22%20/%3E%3C/g%3E%3C/svg%3E") no-repeat 100% 50%
  }

  select::-ms-expand {
    display: none
  }

  button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #0151a9;
    padding: 0 5px;
    font-size: 1em;
    line-height: 1.5;
  }

  button.next {
    float: left;
  }

  button.previous {
    float: right;
  }

  button svg,
  button span {
    vertical-align: middle;
  }
</style>