<nav dir="ltr">
  <form on:change="onChange(event)" onsubmit="return false">
    <label>
      <input type="radio" name="pagingType" value="page" checked={$pagingType===PAGE}> Page
    </label>
    <label><input type="radio" name="pagingType" value="sura" checked={$pagingType===SURA}> Sura</label>
    <button on:click="next()">Next</button> {$pagingIndex}
    <button on:click="previous()">Previous</button>
  </form>
</nav>

<script>
  import {
    nextIndex,
    prevIndex
  } from './../utils/next-back.js';
  import {
    PAGE,
    SURA
  } from './../constants';

  export default {
    data: function () {
      return {
        PAGE,
        SURA
      }
    },
    methods: {
      next: function () {
        const state = this.store.get();
        this.store.set({
          pagingIndex: nextIndex(state.pagingIndex, state.pagingTotal)
        })
      },
      previous: function () {
        const state = this.store.get();
        this.store.set({
          pagingIndex: prevIndex(state.pagingIndex, state.pagingTotal)
        })
      },
      onChange: function (event) {
        this.store.set({
          pagingType: event.target.value,
          pagingIndex: 1
        })
      }
    }
  }
</script>