<nav>
  <button on:click="next()">Next</button> {$pagingIndex}
  <button on:click="previous()">Previous</button>
</nav>

<script>
  import {
    nextIndex,
    prevIndex
  } from './../utils/next-back.js';

  export default {
    methods: {
      next: function () {
        const state = this.store.get();
        this.store.set({
          pagingIndex: nextIndex(state.pagingIndex, state.pagingTotal)
        })
      },
      previous: function () {
        const state = this.store.get();
        this.store.set({
          pagingIndex: prevIndex(state.pagingIndex, state.pagingTotal)
        })
      }
    }
  }
</script>