<ol start={start} style={inlineStyle}>
  {#each ayas as aya}
  <li>
    {aya.text}
    {#if aya.sajda !== undefined}
    <img src="public/resources/sajda.svg" alt={aya.sajda} title="Sajda" height=32>
    {/if}
    {#if aya.ruku}
    <img src="public/resources/ruku.svg" alt="Ruku" title="Ruku" height=32>
    {/if}
  </li>
  {/each}
</ol>

<script>
  export default {
    computed: {
      start: function (props) {
        return props.ayas[0].aya
      },
      inlineStyle: function (props) {
        return `counter-reset: section ${props.start - 1};`;
      }
    }
  }
</script>

<style>
  ol {
    padding: 0;
    margin: 0;
    font-size: 150%;
    line-height: 300%;
    counter-reset: section;
  }

  li {
    display: inline;
    border-bottom: 1px dotted #e5bea1;
    padding: 1em 0;
  }

  li img {
    vertical-align: middle;
    height: 1.5em;
  }

  li::after {
    counter-increment: section;
    content: counter(section, arabic-indic);
    margin: 0 0.5em;
    width: 2em;
    display: inline-block;
    text-align: center;
    background: url('resources/aya.svg') 50% 50% no-repeat;
    font-size: 0.7em;
  }
</style>